<h1>Recommended Films</h1>
<ul>
    <li> <%= @film1 %> </li>
    <li> <%= @film2 %> </li>
</ul>

<a href="./intplaces">International Recommendations!</a>
<a href="./films">Film Recommendations!</a>
<a href="./sdplaces">SD Recommendations!</a>