<h1>International Places</h1>
<ul>
    <li>
        <%= @place1 %>
    </li>
    <li>
        <%= @place2 %>
    </li>
</ul>

<a href="./intplaces">International Recommendations!</a>
<a href="./films">Film Recommendations!</a>
<a href="./sdplaces">SD Recommendations!</a>