<h1>Recommended Local Places</h1>
<ul>
    <li>
        <%= @place %>
    </li>
    <li>
        <%= @place2 %>
    </li>
</ul>

<a href="./intplaces">International Recommendations!</a>
<a href="./films">Film Recommendations!</a>
<a href="./sdplaces">refresh Recommendations!</a>